# Local development database
DB_LOCAL_HOST=global_db
DB_LOCAL_PORT=3306
DB_LOCAL_NAME=project_pulse
DB_LOCAL_USER=root
DB_LOCAL_PASS=

# Production database (configure this file directly on the server)
DB_PRODUCTION_HOST=localhost
DB_PRODUCTION_PORT=3306
DB_PRODUCTION_NAME=
DB_PRODUCTION_USER=
DB_PRODUCTION_PASS=
